table, td, tr{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 10px;
}
table {
    border-spacing: 0px;
}
td {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 3px solid black;
}
tr:first-child>td{
    border-top: none;
}
tr:last-child>td{
    border-bottom: none;
}
tr:first-child>td:first-child,
tr:nth-child(2)>td:first-child,
tr:last-child>td:first-child
{
    border-left: none;
}
tr:first-child>td:last-child,
tr:nth-child(2)>td:last-child,
tr:last-child>td:last-child
{
    border-right: none;
}
td:hover {
    background-color: green;
}
#message,button {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 170px;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 5px;
    text-align: center;
}